/* Space out content a bit */

html {
    width: 300px;
}

body {
    padding-top: 1rem;
    padding-bottom: .5em;
    text-align: center;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}


/* Custom page footer */

.footer {
    padding-top: .5em;
    color: #777;
}


/* Text Area */

textarea {
    margin-bottom: .5em;
}

button {
    margin-bottom: .5em;
}
