/* Space out content a bit */

body {
    padding-top: 1rem;
    padding-bottom: .5em;
    text-align: center;
    width:  100%;
    min-width: 275px;
}

.form-control {
    font-size: 75%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}


/* Custom page footer */

.footer {
    padding-top: 1em;
    color: #777;
    font-size: 75%;
}


/* Text Area */

textarea {
    margin-bottom: .5em;
}

button {
    margin-bottom: .5em;
}
